<h2 class="f-w-500 m-b-10" mat-dialog-title><strong>{{'Report' | translate}}</strong></h2>
<form [formGroup]="reportForm" (ngSubmit)="onSubmit()" class="report-form">

    <mat-form-field appearance="fill">
        <mat-label>{{'Reason' | translate}}</mat-label>
        <input matInput formControlName="reason">
        <mat-error *ngIf="reportForm.get('reason')?.hasError('required')">
            {{'Reason is required' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'Timestamp' | translate}}</mat-label>
        <input matInput formControlName="timestamp" placeholder="MM:SS">
        <mat-error *ngIf="reportForm.get('timestamp')?.hasError('required')">
            {{"Timestamp is required" | translate}}
        </mat-error>
        <mat-error *ngIf="reportForm.get('timestamp')?.hasError('pattern')">
            {{'Enter a valid timestamp in' | translate}} MM:SS format
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{"Details" | translate}}</mat-label>
        <textarea matInput formControlName="details" rows="4"></textarea>
        <mat-error *ngIf="reportForm.get('details')?.hasError('required')">
            {{"Details are required" | translate}}
        </mat-error>
    </mat-form-field>

    <div class="form-buttons">
        <button mat-raised-button color="primary" type="submit">{{'Submit' | translate}}</button>
        <button mat-stroked-button color="warn" type="reset">{{'Reset' | translate}}</button>
    </div>
</form>