<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        @if(options.theme === 'light') {
        <a [routerLink]="['']">
          <img
            src="./assets/images/logos/dark-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
        } @if(options.theme === 'dark') {
        <a [routerLink]="['']">
          <img
            src="./assets/images/logos/light-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
        }

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/backgrounds/login-bg.svg"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          @if(isEmailSent) {
          <div class="col-sm-9">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24 text-center">
                <img
                  src="/assets/images/backgrounds/email.svg"
                  alt="img"
                  width="200"
                />
                <mat-card-title class="m-b-0">Email Sent</mat-card-title>
                <mat-card-subtitle class="mat-body-1 m-t-8 lh-24 m-b-24"
                  >An verificaton email was just sent to you Email.<br />Please
                  verify there.</mat-card-subtitle
                >
              </mat-card-content>
            </mat-card>
          </div>
          } @else{
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Welcome to Thought Share</h4>
            <!-- <div class="row m-t-24">
              <div class="col-12 col-sm-6">
                <button mat-stroked-button class="w-100">
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/google-icon.svg"
                      alt="google"
                      width="16"
                      class="m-r-8"
                    />
                    Sign in with Google
                  </div>
                </button>
              </div>
              <div class="col-12 col-sm-6">
                <button
                  mat-stroked-button
                  class="w-100 d-flex align-items-center"
                >
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/facebook-icon.svg"
                      alt="facebook"
                      width="40"
                      class="m-r-4"
                    />
                    Sign in with FB
                  </div>
                </button>
              </div>
            </div>
            
            <div class="or-border m-t-30">or sign up with</div>
            -->

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <!-- email -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Email Address</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="email" formControlName="email" />
                @if(f['email'].touched && f['email'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['email'].errors && f['email'].errors['required']) {
                  <div class="text-error">Email is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- updates -->
              <div class="d-flex flex-column">
                <mat-checkbox formControlName="updates" color="primary"
                  >Receive Updates</mat-checkbox
                >

                <!-- terms accepted -->
                <mat-checkbox formControlName="termsAccepted" color="primary">
                  Accept Terms and Conditions
                  <mat-error
                    *ngIf="
                      form.get('termsAccepted')?.touched &&
                      form.get('termsAccepted')?.invalid
                    "
                  >
                    You must accept the terms and conditions.
                  </mat-error>
                </mat-checkbox>
              </div>

              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!form.valid"
              >
                <ng-container *ngIf="!isLoading; else loadingTemplate">
                  Sign Up
                </ng-container>
                <ng-template #loadingTemplate> Please wait... </ng-template>
              </button>
            </form>
            <span class="d-block f-w-500 d-block m-t-24"
              >Already have an Account?

              <a
                [routerLink]="['/authentication/login']"
                class="text-decoration-none text-primary f-w-500 f-s-14"
              >
                Sign In</a
              >
            </span>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
